

	
body{
	height:80%;
	margin:200px;
	
	
}
form{
	display:flex;
	flex-direction: column;
}
#findBtn{
	width: 30%;
	margin-top: 10px;
	
}


.container {
	width: 40%;
	padding: 12px;
	border:2px solid;
    background-color: #E0F7FA;
   
    text-align:left;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}  
