body{
	height:80%;
	margin:200px;
	
	
}
form{
	display:flex;
	flex-direction: column;

}

.container {
	border:2px solid;
    background-color: #f2f2f2;
    padding: 50px;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}  

* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text]{
    width:40%;
  padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
#name{
	margin-top: 6px;
	padding: 12px;
}

#salary{
	margin-top: 6px;
	margin-bottom: 6px;
	padding: 12px;
}

#skill
{
	margin-top: 6px;
	margin-bottom: 6px;
}
#email{
	margin-top: 6px;
	margin-bottom: 6px;
}
#plusicon{

	float:right;
	font-size:40px;
	padding: 10px;

}

#clearicon{

	float:right;
	font-size:40px;
	padding: -10px;

}

