
html,body{
	height:100%;
	width:100%;
}

#show{
	display: block;
	text-align: center;
	height: 20%
	width:40%;
	padding: 30px;
}
.container{
	
	
	border: 1px solid;

	/*display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;*/
	/*height: 20%;*/
	/*width:80%;*/
}
/*.one , .two, .three,.four ,.five{
	width:15%;
	border: 1px solid black;
	margin:5px;
}*/