	
body{
	height:80%;
	margin:200px;	

}
form{
	display:flex;
	flex-direction: column;
}
#buttonCalculate{
	width: 20%;
	margin-top: 10px;
}
#interval{
	width: 30%;

}
div{
	justify-content: center;
}

#container {
	display:flex;
    flex-direction: column;
	width: 40%;
	padding: 12px;
	border:2px solid;
    background-color:#4DD0E1;
   	text-align:left;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);

    margin:50px;
    height:80%;
    

}  
