img {
  background: #eaeaed;
   border-radius: 8px
  border: 1px solid #263238;
  border-radius: 8px;
  margin: 8px 0 0 20px;
  padding: 4px;
  display: block;
  height:200px;
  width:350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.5), 0 6px 20px 0 rgba(0, 0, 0, 2.25);
}
img:hover {
    transform: scaleX(-1);
}
video{
	height: 280px;
	width: 300px;
	display: left;

}
body{
	background-color:#0097A7;
}